/* Universal Styling Selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header Container*/
header {
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Header Heading 1 Font and Display Style*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}
/* Navigation Link Styles*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Navigation Unordered List Style*/
nav ul {
    list-style-type: none;
}
/* Navigation Unordered List Elements Style*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}
 /* Anchor element tag styling*/
a {
    color: #ffffff;
    text-decoration: none;
}
 /* Paragraph element tag styling*/
p {
    font-size: 16px;
}
/* Hero Banner Image Styling*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Figure Container Image Styling Floating to Left*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* Figure Container Image Styling Floating to Right*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* Section Container */
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Section Image Max Height*/
section img {
    max-height: 200px;
}
/* Section Heading 2 Style*/
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Aside Container*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Article Container*/
article {
    margin-bottom: 32px;
    color: #ffffff;
    
}
/* Article Heading 3 Style*/
article h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Article Image Style*/
article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Footer Style*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Footer Heading 2 Font Size*/
footer h2 {
    font-size: 20px;
}
